body{
    background: coral;
}
h1{
    font-family: "sofia";
}
#finalAmount{
    text-align:center;
    font-size: small;
}
.buttons{
    margin-top: 3%;
}
.header{
    width: 100%;
    text-align: center;
}

.form-group{
    
    margin-top: 19px;
    margin-left: -7%;
}
.form-control{
    margin-bottom:10%;
}
#finalAmount{
    text-align:center;
    font-size: x-small;
}


@media (max-width:580px){
    .header{
        width: 100%;
        text-align: center;
    }
    .col-xs-6{
        width: 100%;
        text-align:center;
        font-size: small;
    }
    .form-group{
        width: 100%;
        margin-top: 19px;
        margin-left: -7%;
    }
    .form-control{
        margin-bottom:10%;
    }
    h2{
        text-align:center;
        font-size: large;
        color: seashell;
    }
    .buttons{
        margin-top: 3%;
    }
    
}